html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.body--grey {
    background-color: #eee;
}