.table {
    width: 100%;
    border-collapse: collapse;
}

.table__cell {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.table__cell--header {
    background-color: teal;
    color: white;
    font-weight: normal;
}

.table__cell--header:hover {
    background-color: hsl(180, 100%, 35%);
}

.table__row {
    background-color: white;
}

.table__row:nth-child(even) {
    background-color: #eee;
}

.table__row:hover {
    background-color: #ddd;
}

.table__caption {
    margin-bottom: 10px;
    font-weight: bold;
}